body{
	-background-color: #d8d9de;
	background-color: #f8f8f8;
}

.navbar-inverse {
  -margin-bottom: 0;
  -border-radius: 0;
   padding-left: 100px;
	 padding-right: 100px;
  -background-color: #222;

}

#add img{
	width: 100%; /* Set width to 100% */
	-margin-top: 50px;
	height: 600px;
}

#about{
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: #222;
	padding: 25px;
	font-size: 17px;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	-font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

@media (max-width: 768px) {

	.navbar{
	    padding: 0;
	}

	#add img{
		height:100%;
	}

}



.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
}

div.card-body{
	margin: 1em;
}

.card-header{
	background-color: #292b2c;
	color: white;
}

.product-section{
	margin-top: 65px;
}

.product-image{
	width: 80%;
	height: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

#price-tag {
	font-size: 3em;
}

#product-name-details{
	color: #222;
	font-size: 2em;
	padding-bottom:15px;
}

.description-tag {
	font-weight: bolder;
	font-size: 1.3em;
}

#description-box {

	padding-right: 15%;
}

#purchases-buttons {
	margin-bottom: 2em;
}

/* progress bar*/


.board {
    width: 100%;
    height: auto;
    margin: 30px auto;
    background: none;
}

.board .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;
		border: none;
}

.liner {
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 32%;
    z-index: -1;
}

.nav-tabs > li {
    width: 25%;

}

/*
.nav-tabs > li:after {
    content: " ";
    position: absolute;
    opacity: 0;
    margin: 0;
    margin-left: -10px;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #aaa;
    transition: left 1s;
}

.nav-tabs > li.active:after {
    left: 50%;
    opacity: 1;
}*/
/*
.nav-tabs > li[rel-index="-1"]:after {
    left: calc(50% + 100%);
}

.nav-tabs > li[rel-index="-2"]:after {
    left: calc(50% + 200%);
}

.nav-tabs > li[rel-index="-3"]:after {
    left: calc(50% + 300%);
}

.nav-tabs > li[rel-index="1"]:after {
    left: calc(50% - 100% );
}

.nav-tabs > li[rel-index="2"]:after {
    left: calc(50% - 200%);
}

.nav-tabs > li[rel-index="3"]:after {
    left: calc(50% - 300%);
}*/

.nav-tabs > li a {
    width: 70px;
    -height: 70px;
    -line-height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    border: none;
    background: none;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.3em;
}



.nav-tabs > li a:hover {
    border: none;
    background: none;
}

.nav-tabs > li.active a, .nav-tabs > li.active a:hover {
    border: none;
    background: none;
}

.nav-tabs > li span {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100%;
    background: white;
    z-index: 2;
    -position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

.nav-tabs > li:nth-of-type(1) span {
    color: #f0ad4e;
    border: 2px solid #f0ad4e;
}

.nav-tabs > li:nth-of-type(1).active span {
    color: white;
    background: #f0ad4e;
}

.nav-tabs > li:nth-of-type(2) span {
    color: #f0ad4e;
    border: 2px solid #f0ad4e;
}

.nav-tabs > li:nth-of-type(2).active span {
    color: #f0ad4e;
    background: #f0ad4e;
}

.nav-tabs > li:nth-of-type(3) span {
    color: #f0ad4e;
    border: 2px solid #f0ad4e;
}

.nav-tabs > li:nth-of-type(3).active span {
    color: #f0ad4e;
    background: #f0ad4e;
}

.nav-tabs > li:nth-of-type(4) span {
    color: #f0ad4e;
    border: 2px solid #f0ad4e;
}

.nav-tabs > li:nth-of-type(4).active span {
    color: #f0ad4e;
    background: #f0ad4e;
}

.nav-tabs > li > a.disabled {
    opacity: 1;
}

.nav-tabs > li > a.disabled span {
    border-color: #ddd;
    color: #aaa;
}

div[role="tabpanel"]:after {
    content: "";
    display: block;
    clear: both;
}
